<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Credit Cards</title>
    <link rel="stylesheet" type="text/css" href="bower_components/dcjs/dc.css">
    <link rel="stylesheet" type="text/css" href="bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="3rd_party/calendar-heatmap/src/calendar-heatmap.js">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="app" ng-controller="MainCtrl">
	<div class="container-fluid">
		<div ng-if="loading">LOADING</div>
		<div class="row">
			<h2 class="col-xs-12">Almería</h2>
		</div>
		<div class="row">
			<div class="main-map"></div>
			<div class="sector-chart"></div>
			<div class="month-chart"></div>
			<div class="dayofweek-chart"></div>
			<div class="timeofday-chart"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 calendar"></div>
		</div>
	</div>

	<div class="weather">
		<i class="meteo-icon clear-day"></i>
		<i class="meteo-icon partly-cloudy-day"></i>
		<i class="meteo-icon partly-cloudy-night"></i>
		<i class="meteo-icon wind"></i>
		<i class="meteo-icon cloudy"></i>
		<i class="meteo-icon fog"></i>
		<i class="meteo-icon rain"></i>
	</div>

	<ul>
		<li ng-repeat="s in sectores" ng-class="s.id">{{s.name}}</li>
	</ul>

	<div class="credits">
		<h1>mentions</h1>
		<a target="_blank" href="https://darksky.net/">Meteo data from Dark Sky</a>
		<a target="_blank" href="http://www.alessioatzeni.com/meteocons/">Meteo icons: Alessio Atenzi</a>
	</div>

	<div class="help">
		<a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/">pandas</a>
		<a target="_blank" href="https://github.com/dc-js/dc.js/blob/master/web/docs/api-2.0.0.md">dcjs</a>
		<a target="_blank" href="https://github.com/square/crossfilter/wiki/API-Reference">crossfilter</a>
	</div>
	
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/crossfilter2/crossfilter.js"></script>
	<script src="bower_components/dcjs/dc.js"></script>
	<script src="bower_components/lodash/dist/lodash.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="3rd_party/calendar-heatmap/src/calendar-heatmap.js"></script>
	<script src="js/timeSector.js"></script>
	<script src="js/app.js"></script>
</body>
</html>