@import "meteo";
@import "colors";
@import "fonts";
@import "dc-themed";
@import "map";

[ng-click] { cursor: pointer; }

body {
    .roboto-condensed-light;

    background-color: @bg-color;
    color: @fg-color;
}

a {
    color: @peterriver;
    &:hover {
        color: @clouds;
    }
}

.subset-controls {
    margin-top: 20px;
    text-align: right;
}

.main-map {
    width: 100%;
    height: 500px;

    background-color: @silver;
}
.select-cp-comercio {
    margin-top: 3px;
    margin-bottom: 20px;

    span {
        border-radius: 3px;
        padding: 3px;
        &:hover {
            background: @fg-color;
            color: @bg-color;
        }
        &.selected {
            background: @fg-color;
            color: white;
        }
    }
}

div.weather-chart,
div.timeofday-chart {
    padding: 5px;
    .pie-slice.external { fill: white;}
    h5 { margin-top: -1px; margin-left: 0px; }
}

div.weather-chart {
    float: right;
    svg {
        font-family: "MeteoconsRegular";
        .pie-slice { font-size: 30px; }
    }
}

h5 {
    margin: 4px 0px -6px 5px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    color: white;
}

.dropdown-menu {
    right: 0;
    left: auto;

    li > a:hover {
        background-color: @silver;
    }
}
